@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MedievalSharp&display=swap");
@import "tailwindcss";


@theme {
    --color-beige: #DCC1AB;
    --color-green: #1B5B31;
    --color-grey: #F5F0EC;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --text-4-5xl: 2.5rem ;
    --text-2-5xl: 1.75rem
}

@utility underline-animate {
  position: relative;
  width: fit-content;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    height: 0.125rem;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--color-green);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in-out;
  }

  .group:hover &::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}